body {
  font-family: verdana, arial, sans-serif;
  margin: 20px;
}

.th {
    text-align: left;
}

#view {
  width: 90%;
  background-color: #eeeeff;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#view table {
  border-collapse: collapse;
}

#view th, td {
  padding: 4px 4px 4px 4px;
}

#editor {
  float: left;
  width: 40%;
  background-color: #eeffee;
  border: 2px solid #ccccff;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#editor table {
  border-collapse: collapse;
}

#editor th, td {
  padding: 4px 4px 4px 4px;
}

#log {
  float: left;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.header {
}

.item {
  cursor: pointer;
  cursor: hand;
}

.current {
  background-color: #ccccff;
}

.field {
}

.new {
}

.save {
}

.delete {
}
